@media (max-width: 1366px) {
  .banner-main .banner-con-main {
    top: 26%;
    right: 12%;
  }
}

@media (max-width: 1024px) {
  .hotel-img {
    width: 217px;
}
}

@media (max-width: 992px){
  .banner-main {
    background-image: none;
  }
  .banner-main img{
    display:block;
    height:412px;

  
  }
  .hyperlink-main {
    padding-left: 10px;
    position: absolute;
    right: 8.7%;
}
.single-contact-btn a {
  font-size: 22px;
}
}
@media (max-width: 991px) {
  .banner-main {
    height: 356px;
}
  .banner-main {
    background-image: none;
  }
  .banner-main img{
    display:block;
    height:  327px;
  
  }
 
    .hyperlink-main {
      position: absolute;
      right: 11%;
      height: 100px;
      top: 169px;
      background: #fff;
  
}

.hotel-img {
  width: 200px;
}
.rating-img {
  right: 52px;
  position: relative;
}
  .container {
    max-width: 872px;
  }

  .section-1 .slid-img-left {
    height: 260px;
  }
  .section-1 .sec1-right {
    float: left;
    width: 21%;
  }
  .section-1 .sec1-img-left {
    width: 78%;
  }
  .section-1 .slid-img-right {
    height: 86.5px;
  }
  .section-1 .sec1-right .right-img-main {
    height: 237px;
  }
  .section-1 .img1 {
    height: 106px;
  }
  .con-single_box {
    margin-top: 3px;
}
.right-phone {
  display: none;}
  .item-menu .item img {
    float: inherit;
  }
  .item-img {
    text-align: center;
  }
  .item-menu .item .item-text {
    font-size: 12px;
  }
  .item-menu {
    height: 72px;
  }
  img.iata {
    margin-top: 8px;
  }
  .section-3 .menu-btn {
    padding-top: 4px !important;
    font-size: 13px;
  }
  .Overview-cont-main h4 {
    font-size: 15px;
    line-height: 17px;
  }
  .banner-main .banner-con-main {
    top: 26%;
    right: 2%;
  }
  .banner-main h2 {
    color: #fff;
    font-size: 71px;
  }
  .banner-main .currency-div {
    width: 115px;
    font-size: 27px;
    right: -140px;
  }
  .banner-main label {
    background: #139ed8;
    color: #262262;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 1px;
  }
  tr:first-child > td > .fc-day-grid-event {
    font-size: 12px;
  }
  .input-label {
    font-size: 14px !important;
  }
  .form-control {
    font-size: 13px;
  }
  .section-5 .social img {
    max-width: 40px;
  }
  .section-5 .sign {
    max-width: 37px;
    margin: 0.1rem 1rem 1rem 0px;
  }
  .section-5 .payment {
    max-width: 157px;
    margin-top: 0.2rem;
  }
  .section-5 .social {
    margin-bottom: 0em;
  }

  .item-menu .item {
    padding-left: 22px;
    text-align: center;
  }

  .single-contact-btn a {
    font-size: 15px;
}
.con-single_box img {
  width: 18px;
}
.con-single_box a {
  font-size: 10px;
  color: black;
  display: none;}

  .con-single_box h5 {
    font-size: 14px;
    padding-top: 12px;
}


}

@media (max-width: 768px) {
  .section-1 {
    .sec1-img-left {
      width: 70%;
      margin-right: 1%;
    }

    .sec1-right {
      float: left;
      width: 29%;
      .flynowpaylater {
        padding-top: 0px;
        height: 93px;
      }
      .con-single_box {
        margin-top: -3px;
      }
    }
  }

  #cal-main-content .calendar table tbody td > a {
    height: 3em !important;
  }
  #cal-main-content .calendar table tbody td .price-text {
    bottom: 6px !important;
    right: 5px !important;

    font-size: 13px !important;
  }

  .section-3 {
    top: -65px;
  }
  .single-contact-btn a {
    font-size: 15px;
  }

  #cal-main-content .calendar table tbody td > span {
    height: 3em;
  }
  .cunt li {
    font-size: 13px;
  }
  .section-1 .sec1-right {
    float: left;
    width: 23%;
  }
  .section-1 .sec1-img-left {
    width: 72%;
  }

  .tp-widget-stars {
    width: 60%;
  }
  .hotel-img {
    width: 128px;
  }
}

@media (max-width: 767px) {
  .tp-widget-wrapper.visible {
    opacity: 1;
    width: 191px;
}
.hyperlink-main img {
  width: 175px;
}
.trustEX {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  position: relative;
  top: -7px;
}
.section-1 .slid-img-left {
  height: 274px;
}
.rating-img {
  width: 125px;
  right: 1px;
  position: relative;
  top: -67px;
}
.single-contact-btn .inner-box {
  text-align: left;
}
  .section-1 .slid-img-right {
    height: 73px;
  }

  .section-1 .sec1-right .img1 {
    height: 91px;
  }
  .section-1 .sec1-right .right-img-main {
    height:254px
  }
  .item-menu .item .item-text {
    font-size: 9px;
  }
  .section-3 .menu-btn {
    font-size: 11px;
  }
  .Overview-cont-main {
    padding: 0px 26px;
    height: 233px;
    line-height: 15px;
  }
  .item-menu {
    height: 79px;
  }
  .section-3 {
    top: -107px;
  }
  .section-4 {
    top: -81px;
  }
  .fc .fc-row .fc-content-skeleton table,
  .fc .fc-row .fc-content-skeleton td,
  .fc .fc-row .fc-mirror-skeleton td {
    font-size: 10px;
    padding-left: 7px;
  }
  .holiday {
    margin-top: 23px !important;
  }
  .social2 {
    text-align: center;
    margin-top: 12px;
    margin-left: 17px;
  }
  .section-5 .aiata-logo-box .desc {
    text-align: justify;
  }
  .col-img-left {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .col-img-right {
    display: none;
  }

  .section-1 .sec1-right .flynowpaylater {
    // display: none;
  }
  .con-single_box {
    margin: 6px 0px;
  }
  .single-contact-btn {
    text-align: center;
  }
  .cunt label {
    line-height: 23px;
    font-size: 13px;
  }
  .section-3 {
    top: -57px;
    
  }
  .item-menu .item .item-text {
    font-size: 12px;
  }
  .section-4 {
    top: -37px;
  }
  .hotel-img {
    width: 154px;
  }


  .section-1 .sec1-right {
    width: 27%;
}
.single-contact-btn a {
  font-size: 10px;
}

}

@media (max-width: 640px) {
  .section-1 .sec1-right .right-img-main {
    height: 267px;
}
// .section-1 .slid-img-left {
//   height: 289px;
// }
  .section-1 .sec1-right {
    width: 34%;
  }
  .section-1 .sec1-img-left {
    width: 64%;
  }
  .hotel-img {
    width: 125px;
  }

  .Overview-cont-main {
    padding: 0px 26px;
    height: 306px;
  }

  .tp-widget-wrapper.visible {
    opacity: 1;
    width: 160px;
}
.hyperlink-main img {
  width: 150px;
}
.right-phone{
  display: none;
}
.single-contact-btn a {
  font-size: 15px;
}
.single-contact-btn .inner-box {
  text-align: left;
  height: 85px;
}
}

@media (max-width: 575px) {
  .section-1 .slid-img-left {
    height:297px;
}
.section-1 .sec1-right .right-img-main {
  // height: 367px;
}
  .banner-main{
    background-image:none;
  }
  .banner-main  img {
      display:block;
      width:100%;
      height: 197px;
    
    
  }
  .section-1 .sec1-right .con-single_box {
    margin-top: -3px;
    text-align: left;
}
.section-1 .sec1-right label {
  margin-top: 12px;
  margin-bottom: 12px;
}
.section-1 .sec1-right .right-img-main {
  height: 253px;
}
.section-3 {
  top: -150px;
}
  .item-menu .item {
    padding-left: 0px;
  }
  .topBar {
    background-color: #8e2327;
    float: left;
    height: 59px;
  }

  .banner-main h2 {
    text-shadow: 3px 1px 1px #001f8e;
    margin: 0;
  }

  .banner-main label {
    margin-bottom: 1px;
    margin-left: 46%;
  }
  .banner-main .currency-div {
    width: 115px;
    font-size: 22px;
    color: #ffeb3b;
    right: -252px;
  }
  .textarea .f-bottom-links li {
    display: block;
  }
  .textarea p {
    text-align: justify;
  }
  .hotel-img {
    width: 102px;
    height: 100px;
  }
  .textarea .f-bottom-links {
    text-align: left;
    padding-left: 0;
  }
  .logo {
    width: 135px;
  }
  .right-phone {
    display: none;
    height: 1.1rem;
  }
  .phone-num {
    font-size: 18px;
  }
  .span-phone {
    display: block;
    font-size: 8px;
  }
  .nav-right {
    width: 45%;
  }
  .item-menu {
    height: 80px;
}

.hyperlink-main {
  right: 11%;
  height: 64px;
  top: 129px;
}
.hyperlink-main img {
  width: 99px;
  top: -9px;
  position: relative;
}
.tp-widget-logo {
  margin: 0 0 8px;
  width: 43%;
}
.trustEX {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  position: relative;
  top: -13px;
}
.section-1 {
  position: relative;
  top: -169px;}
}
@media (max-width: 471px) {
  .con-single_box h5 {
    font-size: 19px;
    padding-top: 4px;
}
  .tp-widget-logo {
    margin: 0;
    width: 100%;

}
.hyperlink-main {
  position: absolute;
  right: 10.5%;
  top: 143px;
  width: 111px;
  padding-top: 0;
  padding-left: 0;
}
.trustEX{
  font-size: 6px;
  font-weight: 700;
  color: #000;
  position: relative;
  top: -17px;
}
.tp-widget-wrapper.visible {
  opacity: 1;
  width: 133px;
  padding-left: 11px;
  padding-bottom: 7px;
  height: 63px;
}
.hyperlink-main img {
  width: 75%;
  position: relative;
  top: -8px;

}
 .hyperlink-main svg{
width: 60% !important
}
  .topBar {
    height: 61px;
  }
  .section-1 .sec1-right {
    width: 100%;
  }
  .section-1 .sec1-img-left {
    width: 100%;
  }
  .section-1 .sec1-right label {
    // display: none;
  }
  .banner-main .banner-con-main {
    top: -1%;
  }
  .itinerary .hotel-name {
    font-size: 18px;
  }
  .rating-img {
    width: 135px;
    position: relative;
    top: -97px;
    right: 9px;
  }
  .h-img-1 {
    height: auto;
    width: 100%;
}
  .section-3 .menu-btn {
    height: 24px;
}
.section-4 {
  top: -119px;
}
  .single-contact-btn img {
    width: 39px;
    position: relative;
    top: 0;
    right: 0;
  }
  .calHdBtm {
    margin-bottom: 5px;
    margin-top: 24px !important;
  }
  .h-img-1{
    width: 100%;
  }
  .h-img-2,.h-img-3,.h-img-4{
    display: none;
  }
  .cunt label {
    line-height: 23px;
    font-size: 13px;
    margin-top: 5px;
  }
  .single-contact-btn .inner-box{
    text-align: left
  }
  .hyperlink-main {
    top: 131px;
  }
  .section-1 .slid-img-left {
    height: 219px;
}
.section-1 .sec1-right .flynowpaylater {
  padding-top: 0px;
  height: 143px;
}
.section-1 .sec1-right .right-img-main {
  height: 308px;
}
.item-img {
  text-align: center;
  height: 34px;
}

.calendar {
    padding: 0;
    margin-left: -22px;
    margin-right: -22px;
}
#cal-main-content .calendar table tbody td .price-text {

  font-size: 11px !important;
}
#cal-main-content .calendar table tbody td > a, #cal-main-content .calendar table tbody td > span, #flight-main-content .calendar table tbody td > a, #flight-main-content .calendar table tbody td > span, #cruise-main-content .calendar table tbody td > a, #cruise-main-content .calendar table tbody td > span{
  font-size: 11px;
  border-radius: 1px;
}

}
@media (max-width: 414px) {
  .con-single_box a {
    display: none;
  }
  .con-single_box h5 {
   
    color: #555e69;
    margin-top: 8px;
    text-align: left;
    font-size: 18px;
  }
  .Overview-cont-main {
    padding: 0px 15px;
  }
  .Overview-cont-main .cunt ul {
    padding-left: 6px;
}
.first-ti{
  display: none;
}
.section-3 .menu-btn {
  font-size: 11px;
  height: 25px;
}
  .section-1 .sec1-right .flynowpaylater {
    padding-top: 0px;
     height: 150px;
  }
  .item-menu .item .item-text {
    font-size: 8px;
    display: none;
  }
  .item-menu {
    height: 48px;
  }
  .item-menu {
    height: 54px;
  }
  .item-menu .item img {
    width: 34px;
  }
  .item-menu .item .iata {
    padding-top: 2px;
  }

  .logo {
    width: 135px;
  }
  .right-phone {
    display: none;
    height: 1.1rem;
  }
  .phone-num {
    font-size: 18px;
  }
  .span-phone {
    display: block;
    font-size: 8px;
  }

  .nav-right {
    width: 45%;
  }
  .itinerary .hotel-name {
    font-size: 16px;
}
.hyperlink-main {
  top: 130px;
}
.section-6 {
  position: relative;
  top: -82px;
}
.icon-1 {
  width: 60px !important;
}
.icon-2 {
  width: 35px !important;
}
.icon-3 {
  width: 45px !important;
}
.section-5 {
  background: #262262;
  padding: 3em 0px;
  position: relative;
  top: -67px;
}
.single-contact-btn a {
  font-size: 21px;
}
.single-contact-btn p {
  margin-bottom: 1px;
  font-size: 14px;
}
.single-contact-btn .inner-box {
  text-align: left;
  height: 65px;
}
.rating-img {
  width: 92px;
}
}
@media (max-width: 375px) {
  .itinerary .hotel-name {
    font-size: 14px;
}
#cal-main-content .calendar table tbody td .price-text {

  font-size: 9px !important;
}
.hyperlink-main {
  position: absolute;
  right: 10.5%;
  top: 130px;
}
.section-6 {
  position: relative;
  top: -61px;
}
.section-3 .menu-btn {
  font-size: 10px;
}
  .topBar {
    font-size: 14px;
  }
  .logo {
    width: 109px;
}
.navbar-brand {
  margin: 0 !important;
  float: left;
  width: 40%;
  height: auto !important;
  padding: 0px 15px !important;
}
.nav-right {
  width: 60%;
}
}
@media (max-width: 320px) {
  .section-3 .menu-btn {
    font-size: 8px;
  }
  .section-1 .slid-img-left {
    height: 189px;
  }
  .section-1 .slid-img-right {
    height: 63px;
  }
  .section-1 .sec1-right .img1 {
    height: 79px;
  }
  .section-1 .sec1-right label {
    font-size: 17px;
    margin-bottom: 0px
  }
  .section-1 .sec1-right .right-img-main {
    height: 292px;
  }
  .topBar {
    font-size: 11px;
    height: 46px;
  }
  tr:first-child > td > .fc-day-grid-event {
    font-size: 8px;
  }
  .fc .fc-row .fc-content-skeleton table,
  .fc .fc-row .fc-content-skeleton td,
  .fc .fc-row .fc-mirror-skeleton td {
    font-size: 8px;
  }

  .banner-main .currency-div {
    right: -168px;
  }
  .banner-main label {
    font-size: 24px;
  }
  .banner-main h2 {
    font-size: 53px;
  }

  .con-single_box {
    margin: 3px 0px;
  }
  .banner-main label {
    margin-left: 39%;
  }
  .section-3 .menu-btn {
    height: 28px;
  }
  #cal-main-content .calendar table tbody td .price-text {
    font-size: 10px !important;
  }
}
